mixin scripts(scripts)
    each src in scripts
        - src = 'js/' + src;
        script(src=src)

doctype html
html(lang="ru")
    head
        meta(charset="utf-8")
        meta(name="viewport" content="width=1180")
        title Типография онлайн "Online print"
        //css
        link(rel="stylesheet" href="css/style.min.css")
        //fonts
        link(href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet")
        // Favicon
        link(href="images/favicon.ico" type="image/x-icon" rel="shortcut icon")

    body
        container
        //scripts
        +scripts(['jquery-3.2.1.min.js', 'main.js'])